
<section class="container">
  <h2>Como Ajudar</h2>
  <div class="cards">
    <div class="card">
      <h3>Doações</h3>
      <p>Contribua com qualquer valor para ajudar a comprar presentes.</p>
      <!-- Doar com Mercado Pago -->
      <a href="https://link.mercadopago.com.br/padrinhosporamor" target="_blank" class="btn">Doar com Cartão</a>
      <br>
      <br>

      <a href="#" class="btn" onclick="abrirQR()">Doar com Pix (via QR Code)</a>
    </div>
    <div class="card">
      <h3>Voluntariado</h3>
      <p>Participe como voluntário e faça parte dessa linda ação.</p>
      <a href="javascript:void(0)" onclick="navegar('seja-voluntario')" class="btn">Seja Voluntário</a>


    </div>
    <div class="card">
      <h3>Divulgação</h3>
      <p>Compartilhe nosso projeto nas redes sociais.</p>
      <a href="https://www.instagram.com/_padrinhosporamor/" class="btn" target="_blank" rel="noopener noreferrer">Compartilhar</a>
    </div>
  </div>
</section>
