<header>
  <div class="container">
    <h1>Padrinhos por Amor</h1>
    <nav>
      <ul>
        <li><a href="#" onclick="navegar('boas-vindas')">Início</a></li>
        <li><a href="#" onclick="navegar('sobre')">Sobre Nós</a></li>
        <li><a href="#" onclick="navegar('como-ajudar')">Como Ajudar</a></li>
        <li><a href="#" onclick="navegar('impacto')">Impacto</a></li>
        <!--<li><a href="#" onclick="navegar('contato')">Contato</a></li>-->
        <li><a href="#" onclick="navegar('galeria')">Galeria</a></li>
      </ul>
    </nav>
  </div>
</header>
